{% extends "layout.html" %}
{% block content %}
  <p>My name is Jeremiah, and I am a SysAdmin at a Cloud Hosting provider. I am currently a Red Hat Certified Engineer who is deeply interested in large cloud based deployments and the power the the cloud can offer to any application. On this site I plan to have posts about cloud computing, Linux administrations and code that I have written. 

I hope you enjoy this page. If you have any comments questions or sugestions, please let me know. 

Jeremiah Williams</p>
{% endblock %}
